{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-5">
    <h2>Задание</h2>
    <p>Разработайте веб-приложение с использованием фреймворка Flask. </p>

    <h4>1. Отображение данных запроса.</h4>
    <p>Добавьте в приложение страницы, на которых отображаются</p>
    <ul>
        <li>параметры URL,</li>
        <li>заголовки запроса,</li>
        <li>cookie,</li>
        <li>параметры формы.</li>
    </ul>
    <p>В качестве формы необходимо добавить форму авторизации. После того как в нее введены данные, эти данные
        выводяться на страницу.</p>

    <h4>2. Форма с обработкой ошибок.</h4>
    <p>Создайте страницу с формой для ввода номера телефона. Форма должна состоять из текстового поля и кнопки
        «Проверить».
        По нажатию на кнопку данные формы должны отправляться на сервер при помощи метода POST.
        На стороне сервера необходимо реализовать проверку, что в поле введён номер телефона заданного формата</p>
    <ul>
        <li>имеет длину 10-11 цифр;</li>
        <li>может содержать дополнительные символы: пробелы, круглые скобки, дефисы, точки, +.</li>
    </ul>
    <p>Если номер не соответствует формату – выводить сообщение об ошибке. Сообщение об ошибке должно быть разным в
        зависимости от типа ошибки</p>
    <ul>
        <li>«Недопустимый ввод. Неверное количество цифр.» – если в номере не 10 или 11 цифр (номер должен содержать 11
            цифр
            если он начинается с «+7» или «8», в остальных случаях – 10 цифр),</li>
        <li>«Недопустимый ввод. В номере телефона встречаются недопустимые символы.» – если в номере встречаются другие
            символы
            помимо цифр и приведённых выше дополнительных символов.</li>
    </ul>


    <p>Проверку на другие типы ошибок (не приведённые выше) проводить не нужно.</p>
    <p>В случае обнаружения ошибки использовать использовать стандартные классы фреймворка Bootstrap:</p>
    <ul>
        <li>класс is-invalid для подсвечивания поля формы,</li>
        <li>класс invalid-feedback для контейнера с текстом сообщения об ошибке.</li>
    </ul>
    
    <p>Преобразовывать введённый номер к формату 8-***-***-**-** и выводить. Ниже представлены примеры допустимых форматов
    ввода номера телефона.</p>
    <p class="fw-bold"># +7 (123) 456-75-90</p>
    <p class="fw-bold"># 8(123)4567590</p>
    <p class="fw-bold"># 123.456.75.90</p>
</div>
{% endblock %}