{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="mb-2">
        <a href="{{ url_for('index') }}" class="return_back"><i class="bi bi-arrow-left"></i> Вернуться ко всем пользователям</a>
    </div>
    <h2>Список всех ролей</h2>
    {% if roles %}
    <div class="mt-3">
        <table class="table table-light table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                <tr>
                    <th scope="row">{{role.id}}</th>
                    <td>{{role.name}}</td>
                    <td>{{role.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div>
            <h3 class="text-danger">Ролей нет</h3>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-5 card py-3 mt-5" id="register_form">
                <h3 class="mb-3 text-center">Создание роли</h3>
                <form action="{{ url_for('roles') }}" method="POST" class="auth-form">
                    {{ form.hidden_tag() if form }}
                    <div class="p-3">
                        <div class="mb-3">
                            <label for="name_role" class="form-label">Название <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" type="text" placeholder="Название роли" name="name_role"
                                id="name_role" required value="{{ request.form.name_role or '' }}">
                        </div>
                        <div class="mb-3">
                            <label for="desc_role" class="form-label">Описание <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" type="text" placeholder="Описание роли" name="desc_role"
                                id="desc_role" required value="{{ request.form.desc_role or '' }}">
                        </div>
                        <div class="mb-2 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Создать роль</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}