{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-5">
    <h2>Задание</h2>
    <p>Доработайте веб-приложение, разработанное в рамках ЛР4 "Реализация CRUD-интерфейса". Добавьте к нему
        функциональность авторизации пользователей и формирования статистических отчётов.</p>

    <h4>Авторизация пользователей</h4>

    <p>Добавьте в приложение авторизацию пользователей, то есть проверку прав пользователей на совершение определённых
        действий и ограничение доступа к функциональности, для доступа к которой у пользователя нет прав. Права
        пользователей должны быть привязаны к их ролям.</p>

    <p>У пользователей с ролью "Администратор" есть право на:</p>
    <ul>
        <li>создание пользователей,</li>
        <li>редактирование пользователей,</li>
        <li>просмотр профиля пользователя,</li>
        <li>удаление пользователей,</li>
        <li>просмотр журнала посещений (всех страниц).</li>
    </ul>
    <p>У пользователей с ролью "Пользователь" есть право на:</p>
    <ul>
        <li>редактирование своих данных (за исключением роли -- это поле должно быть отключено на форме для
            редактирования),</li>
        <li>просмотр своего профиля,</li>
        <li>просмотр журнала посещений (только страницу "Журнал посещений", где не должны отображаться записи,
            соответствующие другим пользователям).</li>
    </ul>
    <p>Реализация проверки прав должна быть реализована при помощи декоратора check_rights, который можно применить к
        view function. В случае, если у пользователя оказалось недостаточно прав для выполнения запрашиваемого действия,
        его нужно перенаправить на главную страницу с сообщением "У вас недостаточно прав для доступа к данной
        странице.".</p>
    <p>Пользователю не должны отображаться кнопки, соответствующие действиям, для выполнения которых у него недостаточно
        прав.</p>
    <h4>Формирование статистических отчётов</h4>
    <p>Добавьте в разрабатываемое приложение "Журнал посещений", в котором разместите информацию посещении
        пользователями различных страниц сайта. Для этого создайте таблицу visit_logs со следующими полями:</p>
    <ul>
        <li>id INT -- идентификатор записи,</li>
        <li>path VARCHAR(100) -- путь до страницы,</li>
        <li>user_id INT -- идентификатор пользователя (если пользователь не вошёл в систему -- можно оставить пустым),
        </li>
        <li>created_at -- дата посещения (проставляется автоматически).</li>
    </ul>
    <p>Для автоматического заполнения данной таблицы рекомендуется использовать декоратор before_request. </p>
    <p>Функциональность формирования отчётов необходимо вынести в отдельный модуль и подключать к приложению при помощи
        Blueprint'а.</p>
    <p>На главной странице журнала посещений нужно отобразить записи таблицы visit_logs, отсортированные по убыванию
        даты. На этой странице должна быть табличка с колонками</p>
    <ul>
        <li>№ -- порядковый номер записи,</li>
        <li>Пользователь -- ФИО пользователя (если нет пользователя -- строка "Неаутентифицированный пользователь"),
        </li>
        <li>Страница -- путь до страницы,</li>
        <li>Дата -- дата посещения в формате 01.01.2001 01:01:01.</li>
    </ul>
    <p>Должна быть предусмотрена пагинация записей.</p>
    <p>На главной странице журнала посещений должны быть расположены ссылки на страницы с отчётами по посещениям по
        страницам и по пользователям.</p>
    <p>На странице с отчётом по страницам должна быть таблица, отображающая статистику посещения страниц сайта. В ней
        должны быть колонки "№", "Страница" и "Количество посещений". Данные должны быть отсортированы в убывающем
        порядке количества посещений. Под таблицей должна располагаться кнопка "Экспорт в CVS", по нажатию на которую
        должен скачиваться файл с содержимым отчёта в формате CSV.</p>
    <p>Аналогичным образом нужно реализовать формирования отчёта по пользователям. Только в данном случае в таблице
        будут колонки "№", "Пользователь" (ФИО или "Неаутентифицированный пользователь"), "Количество посещений".</p>

</div>

{% endblock %}