body {
    font-size: 1.25rem;
}

.modal.show {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.002);
}

.return_back:hover {
    color: #000000;
    text-decoration: underline;
}

.return_back {
    color: #212529;
    text-decoration: none;
    transition: 0.3s ease-in;
}