{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="mb-2">
        <a href="{{ url_for('index') }}" class="return_back"><i class="bi bi-arrow-left"></i> Вернуться ко всем
            пользователям</a>
    </div>
    <div class="row justify-content-center">
        <!-- Регистрация -->
        <div class="col-md-5 card py-3" id="register_form">
            <h3 class="mb-3 text-center">Создание нового пользователя</h3>
            <form action="{{ url_for('create_user') }}" method="POST" class="auth-form">
                {{ form.hidden_tag() if form }}
                <div class="">
                    <div class="mb-3">
                        <label for="login" class="form-label">Логин <span class="text-danger">*</span></label>
                        <input class="form-control {% if errors and errors.login %}is-invalid{% endif %}" type="text"
                            placeholder="Логин" name="login" id="login" required value="{{ request.form.login or '' }}">
                        {% if errors and errors.login %}
                        <div class="invalid-feedback">{{ errors.login }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="first_name" class="form-label">Имя <span class="text-danger">*</span></label>
                        <input class="form-control {% if errors and errors.first_name %}is-invalid{% endif %}"
                            type="text" placeholder="Имя" name="first_name" id="first_name" required
                            value="{{ request.form.first_name or '' }}">
                        {% if errors and errors.first_name %}
                        <div class="invalid-feedback">{{ errors.first_name }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Фамилия <span class="text-danger">*</span></label>
                        <input class="form-control {% if errors and errors.last_name %}is-invalid{% endif %}"
                            type="text" placeholder="Фамилия" name="last_name" id="last_name" required
                            value="{{ request.form.last_name or '' }}">
                        {% if errors and errors.last_name %}
                        <div class="invalid-feedback">{{ errors.last_name }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="middle_name" class="form-label">Отчество</label>
                        <input class="form-control" type="text" placeholder="Отчество (при наличии)" name="middle_name"
                            id="middle_name" value="{{ request.form.middle_name or '' }}">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль <span class="text-danger">*</span></label>
                        <input class="form-control {% if errors and errors.password %}is-invalid{% endif %}"
                            type="password" placeholder="Пароль" name="password" id="password" required
                            value="{{ request.form.password or '' }}">
                        {% if errors and errors.password %}
                        <div class="invalid-feedback">{{ errors.password }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label for="roleSelect" class="form-label">Роль <span class="text-danger"></span></label>
                        <select name="role_id" id="role_id" class="form-select">
                            <option value="">Без роли (по умолчанию)</option>
                            {% for role in roles %}
                            <option value="{{ role.id }}">{{ role.name }} — {{ role.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-2 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Создать аккаунт</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}