<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="messageModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalMessage">
                <p>This is a body from modal</p>
            </div>
            
            <div class="modal-footer" id="modalFooter">
                <button type="button" class="btn btn-secondary" id="btn_close_delete" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>