{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-3">Ваш профиль</h1>
    <div class="justify-content-center mb-3">
        <div class="col-md-6 card py-2 bg-light shadow-sm">
            <div class="m-2">
                <h3>Ваш ID: {{user.id}}</h3>
                <h3>Логин: {{user.login}}</h3>
                <h3>ФИО: {{user.last_name}} {{user.first_name}} {{user.middle_name or ''}} </h3>
                <h3>Роль: {{user.role or 'Нету'}} </h3>
                <h3>Дата создания аккаунта: {{user.created_at}}</h3>
            </div>
        </div>
    </div>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Выйти из аккаунта</a>
    <a href="{{ url_for('change_password') }}" class="ms-2 btn btn-primary">Сменить пароль</a>
</div>
{% endblock %}