{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-5">
    <h2>Задание</h2>
    <p>Разработайте веб-приложение с использованием фреймворка Flask. Приложение должно предоставлять функционал по
        управлению учётными записями пользователей, а именно: создание новых записей, просмотр, редактирование и
        удаление.
    </p>
    <p>Учетная запись пользователя характеризуется идентификатором, логином, значением хеш-функции от пароля, фамилией,
        именем, отчеством, идентификатором роли пользователя, датой создания записи. Дата создания должна проставляться
        автоматически. У пользователя может отсутствовать фамилия или не быть роли. Роль характеризуется
        идентификатором, названием и описанием. </p>
    <p>В приложении должна быть реализована функциональность аутентификации (можно взять из ЛР № 3). Загрузка данных
        пользователей при аутентификации должна производиться из БД.</p>
    <p>На главной странице приложения должен отображаться список пользователей в виде таблицы. Столбцы таблицы:
        порядковый номер пользователя, ФИО, названием роли, действия. В столбце "действия" в каждой строке должны
        располагаться кнопки "Просмотр", "Редактирование" и "Удаление". Кнопки "Редактирование" и "Удаление" должны
        отображаться только для аутентифицированных пользователей. Под таблицей должна располагаться кнопка "Создание
        пользователя", которая также должна отображаться только для аутентифицированных пользователей.</p>
    <h4>Просмотр записи</h4>
    <p>При нажатии на кнопку "Просмотр" должна открываться страница с данными выбранного пользователя (идентификатор,
        логин, фамилия, имя, отчество, название роли). Данные должны быть отображены в виде таблицы. Доступ к этой
        странице имеют все пользователи.</p>
    <h4>Создание записи</h4>
    <p>При нажатии на копку "Создание пользователя" должна открываться страница с формой для ввода данных нового
        пользователя. В случае, если неаутентифицированный пользователь пытается получить доступ к этой странице, -- он
        должен быть перенаправлен на страницу входа.</p>
    <p>В форме должны быть поля для ввода логина, пароля, фамилии, имени, отчества, выбора роли (селектор). Внизу формы
        должна располагаться кнопка "Сохранить", по нажатию на которую на сервер отправляется POST-запрос и происходит
        запись данных в БД. Если при обработке запроса возникает ошибка, пользователю должно быть выведено сообщение об
        ошибке (flash message) и должна отобразиться страница с заполненной формой (чтобы пользователь мог
        подкорректировать введённые данные). При успешном завершении операции пользователь должен быть перенаправлен на
        страницу со списком пользователей и ему должно отобразиться сообщение об успешном завершении операции.</p>
    <h4>Редактирование записи</h4>
    <p>При нажатии на кнопку "Редактировать" должна быть открыта страница с формой редактирования пользователя. Она
        должна быть автоматически заполнена данными редактируемого пользователя. Набор полей в этой форме должен
        совпадать с формой для создания пользователей за исключением полей "логин" и "пароль" -- их на форме для
        редактирования быть не должно. Также не должно быть дублирования шаблона формы, то есть форма должна быть
        реализована в виде макроса и использоваться как на странице создания, так и на странице редактирования
        пользователя. Доступ к функционалу редактирования имеют только аутентифицированные пользователи. Механизм
        обработки ошибок и вывода сообщений аналогичен функционалу создания.</p>
    <h4>Удаление записи</h4>
    <p>При нажатии на кнопку "Удалить" должно открываться модальное окно с сообщением "Вы уверены, что хотите удалить
        пользователя {}?". Вместо {} нужно подставить ФИО пользователя, которого собираются удалить. Внизу модального
        окна должны располагаться кнопки "Да" и "Нет". По нажатию на кнопку "Да" должен быть отправлен POST-запрос на
        сервер, в результате обработки которого учётная запись выбранного пользователя должна быть удалена из БД. В
        случае, если при обработке запроса возникла ошибка, необходимо отобразить сообщение пользователю. Доступ к
        функционалу удаления имеют только аутентифицированные пользователи. Механизм обработки ошибок и вывода сообщений
        аналогичен функционалу создания и редактирования.</p>
    <h4>Валидация введённых пользователем данных</h4>
    <p>Помимо перехвата ошибок записи данных в БД, реализуйте предварительную проверку введённых пользователем данных на
        стороне сервера. Поля логин, пароль, фамилия, имя не могут быть пустыми. Логин должен состоять только из
        латинских букв и цифр и иметь длину не менее 5 символов. Пароль должен удовлетворять следующим требованиям:</p>
    <ul>
        <li>не менее 8 символов;</li>
        <li>не более 128 символов;</li>
        <li>как минимум одна заглавная и одна строчная буква;</li>
        <li>только латинские или кириллические буквы;</li>
        <li>как минимум одна цифра;</li>
        <li>только арабские цифры;</li>
        <li>без пробелов;</li>
        <li>Другие допустимые символы:~ ! ? @ # $ % ^ & * _ - + ( ) [ ] { } > < / \
                | " ' . , : ;</li>
    </ul>
    <p>Если какое-либо из приведённых выше требований нарушается, необходимо подсветить в форме неверно заполненные поля (воспользовавшись нужным классом) и отобразить под каждым таким полем тект, поясняющий причину ошибки (например, "
                Поле не может быть пустым"). </p>
                <h4>Изменение пароля</h4>
                <p>Добавьте возможность смены пароля текущего пользователя. Расположите в панели навигации ссылку
                    "Изменить пароль". По нажатию на эту ссылку пользователь должен попасть на страницу с формой,
                    содержащей 3 поля: старый пароль, новый пороль, повторите новый пароль. При отправке данных формы на
                    сервер необходимо проверить коррекность введённого старого пароля, удовлетворение требований к
                    новому паролю (см. предыдущий пункт), а также совпадение значений полей "новый пароль" и "повторите
                    новый пароль". При возникновении ошибок пользователю нужно показать flash-сообщение и/или
                    подстветить соответствующие поля формы. В случае успешной смены пароля, необходимо перенаправить
                    пользователя на главную страницу и показать ему flash-сообщение об успешном выполнении операции.</p>
</div>

{% endblock %}