{% extends "base.html" %}
{% from "macros/forms.html" import render_user_form %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="mb-2">
        <a href="{{ url_for('index') }}" class="return_back"><i class="bi bi-arrow-left"></i> Вернуться ко всем пользователям</a>
    </div>
    <h2 class="mb-4 text-center">{{ title }}</h2>
    
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow p-4">
                {{ render_user_form(form, is_create=is_create, submit_text=submit_text) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}